  <h2>show schema</h2>
  <table border="1px solid">
    <tr>
      <td>category:</td>
      <td colspan="2">{{m.selected_schema.category}}</td>
    </tr>
    <tr>
      <td>description:</td>
      <td colspan="2">{{m.selected_schema.description}}</td>
    </tr>
  </table>
  <br />
  <table border="1px solid">
    <tr><td colspan="5">Fields:</td></tr>
    <tr>
      <td>key</td>
      <td>name</td>
      <td>type</td>
      <td>description</td>
      <td>possible values</td>
    </tr>
    <tr ng-repeat="field in m.selected_schema.schema_fields">
      <td>{{field.key}}</td>
      <td>{{field.name}}</td>
      <td>{{field.type}}</td>
      <td>{{field.description}}</td>
      <td>
        <div ng-if="field.possible_values" ng-repeat="val in field.possible_values">
          {{val}}
        </div>
      </td>
    </tr>
  </table>
  <a ng-href="#/schemas/edit/{{m.selected_schema.category}}">Edit</a>